body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.slide-container {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  overflow: hidden;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/* Slide Navigation Buttons - Start */

[data-slide-navigation-control="slide-control"] {

  display: flex;
  justify-content: center;
  margin-top: 20px;
}


[data-slide-navigation-control="slide-control"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: #FB5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;  
  margin: 5px;
}

[data-slide-navigation-control="slide-control"] li.active a, 
[data-slide-navigation-control="slide-control"] li a:hover {

  background: #e54;
}

/* Slide Navigation Buttons - End */